<div class="row text-center">
    <div class="col-md-6 offset-3 alert alert-danger">
        <h1 class="text-black-50">Your search request returned 0 results.</h1>
        &nbsp;
        <h1 class="text-black-50">Please make sure that you search by 
        <br />
        Manufacturer Name <br /> or <br />Mobile Model!</h1>
        &nbsp;
        <h1 class="black-50"><strong>Thank you.</strong></h1>
        <hr />
        <a class="btn btn-success" asp-controller="Mobile" asp-action="Index">Back to Home Page</a>
    </div>
</div>