<div class="row text-center">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">Your request could not be processed.</h1>
        &nbsp;
        <h1 class="text-info">Please make sure that you choose a product that exists!</h1>
        &nbsp;
        <h1><strong>Thank you.</strong></h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Mobile" asp-action="Index">Back to Home Page</a>
    </div>
</div>