@model Manufacturer

@{
    ViewData["Title"] = "Edit a manufacturer";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1 class="text-center">Edit a manufacturer</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Edit">
                    <input type="hidden" asp-for="ManufacturerId" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group text-center">
                        <img class="border-info rounded-circle" style="max-width: 250px;" id="PictureUrlPreview" />
                    </div>
                    <div class="form-group">
                        <label asp-for="PictureUrl" class="control-label"></label>
                        <input asp-for="PictureUrl" class="form-control" />
                        <span asp-validation-for="PictureUrl" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ManufacturerName" class="control-label"></label>
                        <input asp-for="ManufacturerName" class="form-control" />
                        <span asp-validation-for="ManufacturerName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ManufacturerBiography" class="control-label"></label>
                        <input asp-for="ManufacturerBiography" class="form-control" />
                        <span asp-validation-for="ManufacturerBiography" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Show all manufacturers</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        $(document).ready(function () {
            var output = document.getElementById('PictureUrlPreview');
            output.src = $("#PictureUrl").val();
        });

        $("#PictureUrl").on("change", function () {
            var output = document.getElementById('PictureUrlPreview');
            output.src = $(this).val();
        });
    </script>
}
